<div style="display: flex;align-items: center;justify-content: space-between;">
    <div style="width: 70%;">
		<h3>Add Battery Details</h3>
    	<p>Add details for your product</p>
	</div>
	<button type="submit" form="add-battery-form" style="background-color: #C9356E;color: #fff;padding: 7px 16px;font-size: 13x;font-weight: 600;">Add Battery</button>
</div>
<style>

</style>
<script src="https://cdn.ckeditor.com/ckeditor5/44.0.0/classic/ckeditor.js"></script>
<div class="row">
	<div class="col-12">
		<form id="add-battery-form" action="/manage/add-battery" enctype="multipart/form-data">
			<div class="row">
				<div class="col-8 mt-3">
					<label class="pb-2" for="author">Image </label>
					<div class="input-group">
						<input type="file" multiple class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
						<button class="btn btn-secondary" type="button" id="inputGroupFileAddon04">Add Image</button>
					</div>
					<div style="display: flex;align-items: center;justify-content: start;gap: 10px;padding: 10px 0px;" id="input-image-file-holder">

					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-8 mt-3">
					<label class="pb-2" for="author">Battery Name</label>
					<input style="width: 100%;display: block;" type="text" name="author">
				</div>
			</div>
			<div class="row">
				<div class="col-8 mt-3">
					<label class="pb-2" for="author">Battery Brand</label>
					<div class="input-group mb-3">
						<select class="form-select" id="inputGroupSelect02">
						<option selected>Choose...</option>
						<option value="1">Amaron</option>
						<option value="2">Exide</option>
						<option value="3">Okaya</option>
						</select>
						<label class="input-group-text" for="inputGroupSelect02">Options</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-8 mt-3">
					<label class="pb-2" for="author">Battery Sub-Brand</label>
					<label class="pb-2" for="author">Battery Brand</label>
					<div class="input-group mb-3">
						<select class="form-select" id="inputGroupSelect02">
						<option selected>Choose...</option>
						<option value="1">Amaron HI WAY</option>
						<option value="2">Amaron Plus</option>
						<option value="3">Three</option>
						</select>
						<label class="input-group-text" for="inputGroupSelect02">Options</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-8 mt-3">
					<label class="pb-2" for="author">Battery Warranty</label>
					<div class="input-group mb-3">
						<input type="number" class="form-control" placeholder="--" aria-label="Username">
						<span class="input-group-text">Months (Full Replacement)</span>
						<input type="number" class="form-control" placeholder="--" aria-label="Server">
						<span class="input-group-text">Months (Pro Rata)</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-8 mt-3">
					<label class="pb-2" for="author">Battery Category</label>
					<label class="pb-2" for="author">Battery Brand</label>
					<div class="input-group mb-3">
						<select class="form-select" id="inputGroupSelect02">
						<option selected>Choose...</option>
						<option value="1">One</option>
						<option value="2">Two</option>
						<option value="3">Three</option>
						</select>
						<label class="input-group-text" for="inputGroupSelect02">Options</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-8 mt-3">
					<label class="pb-2" for="author">Battery Type</label>
					<input style="width: 100%;display: block;" type="text" name="author">
				</div>
			</div>
			<div class="row">
				<div class="col-8 mt-3">
					<label class="pb-2" for="author">Battery Capacity</label>
					<div class="input-group mb-3">
						<input type="number" class="form-control" placeholder="--" aria-label="Username">
						<span class="input-group-text">AH (Amp Hours)</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-8 mt-3">
					<label class="pb-2" for="author">MRP(Rs) </label>
					<div class="input-group mb-3">
						<input type="number" class="form-control" placeholder="--" aria-label="Username">
						<span class="input-group-text">Rupees (INR)</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-8 mt-3">
					<label class="pb-2" for="author">Special Price(Rs) </label>
					<div class="input-group mb-3">
						<input type="number" class="form-control" placeholder="--" aria-label="Username">
						<span class="input-group-text">Rupees (INR)</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-8 mt-3">
					<label class="pb-2" for="author">Stock </label>
					<div class="input-group mb-3">
						<input type="number" class="form-control" placeholder="--" aria-label="Username">
						<span class="input-group-text">Units</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-8 mt-3">
					<label class="pb-2" for="author">Price (with old battery) </label>
					<div class="input-group mb-3">
						<input type="number" class="form-control" placeholder="--" aria-label="Username">
						<span class="input-group-text">Rupees (INR)</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-8 mt-3">
					<label class="pb-2" for="author">Price (without old battery) </label>
					<div class="input-group mb-3">
						<input type="number" class="form-control" placeholder="--" aria-label="Username">
						<span class="input-group-text">Rupees (INR)</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-8 mt-3">
					<label class="pb-2" for="author">Features </label>
					<textarea style="width: 100%;display: block;" type="text" name="author" id="features-editor"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-8 mt-3">
					<label class="pb-2" for="author">Description </label>
					<textarea style="width: 100%;display: block;" type="text" name="author" id="description-editor"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-8 mt-3">
					<label class="pb-2" for="author">Specifications </label>
					<textarea style="width: 100%;display: block;" type="text" name="author" id="specifications-editor"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-8 mt-3">
					<label class="pb-2" for="author">Recommended For </label>
					<input style="width: 100%;display: block;" type="text" name="author">
				</div>
			</div>
			<div class="row">
				<div class="col-8 mt-3">
					<label class="pb-2" for="author">Discount </label>
					<div class="input-group mb-3">
						<input type="number" class="form-control" placeholder="--" aria-label="Username">
						<span class="input-group-text">%</span>
					</div>
				</div>
			</div>
		</form>
	</div>
	<script>
		CKEDITOR.replace('features-editor');
		CKEDITOR.replace('description-editor');
		CKEDITOR.replace('specifications-editor');

		const fileElement = document.getElementById("inputGroupFile04");
		fileElement.addEventListener("change", addFileToUploadQueue);

		function addFileToUploadQueue(event) {
            const parentDiv = document.getElementById('input-image-file-holder');
            const files = event.target.files;

            for (const file of files) {
                const reader = new FileReader();
                reader.onload = function (e) {
					const imgContainer = document.createElement('div');
					const imgCloseBtn = document.createElement('div');
					imgContainer.style.position = 'relative';
					imgCloseBtn.style.position = 'absolute';
					imgCloseBtn.style.top = '0px';
					imgCloseBtn.style.right = '0px';
					imgCloseBtn.style.width = '15px'
					imgCloseBtn.style.height = '15px';
					imgCloseBtn.style.backgroundColor = '#3876BF';
					imgCloseBtn.style.color = "white";
					imgCloseBtn.style.display = 'flex';
					imgCloseBtn.style.alignItems = 'center';
					imgCloseBtn.style.justifyContent = 'center';
					imgCloseBtn.textContent = "X";
					imgContainer.appendChild(imgCloseBtn);
                    const imgElement = document.createElement('img');
                    imgElement.src = e.target.result;
                    imgElement.style.width = '50px'; // Adjust the width as needed
                    imgElement.style.height = '50px'; // Adjust the width as needed
					imgElement.style.borderRadius = "10px";
					imgElement.style.boxShadow = "4px 4px 12px 0px rgba(0,0,0,0.2)"
					imgElement.style.backgroundColor= "white"
					imgContainer.appendChild(imgElement);
                    // Remove the image on click
                    imgElement.onclick = function () {
                        parentDiv.removeChild(imgContainer);
                        // Remove the corresponding file from the files to be uploaded
                        const index = Array.from(parentDiv.children).indexOf(imgContainer);
                        if (index !== -1) {
                            files.splice(index, 1);
                        }
                    };
                    parentDiv.appendChild(imgContainer);
                };
                reader.readAsDataURL(file);
            }
        }

		// const fileuploader = document.getElementById("inputGroupFileAddon04");
		// fileuploader.addEventListener("click", handleUploadFile);
		// function handleUploadFile(event){
		// 	const input = event.target;
		// 	if (input.files && input.files[0]) {
		// 		var reader = new FileReader();
		// 		//  alert("ftype");
		// 		reader.onload = function (e) {
		// 		$('#insertimage').attr('src', e.target.result).width(100).height(100);
		// 		$('#clientimageupdate').attr('src', e.target.result).width(100).height(100);
		// 		};
		// 		reader.readAsDataURL(input.files[0]);
		// 	}
		// }
	</script>
</div>