<style>
    .edit-coupon:hover i{
        color: #10B981;
    }
    .delete-coupon:hover i{
        color: #e42b5c;
    }
</style>

<div style="width: 100%; display: flex; flex-wrap: wrap; justify-content: space-around;">
    <% coupons.forEach(function(coupon) { %>
        <div style="position: relative;width: 40%; padding: 20px;margin: 1% 0; background-color: #fff;">
            <div style="background-color: #D1FAE5; border-radius: 6px; padding: 10px; margin-top: 15px;">
                <h6 style="color: #10B981; font-weight: bold; letter-spacing: 2px; line-height: 20px; display: flex; align-items: center; margin-bottom: 10px; gap: 5px;">
                    <i style="font-size: 22px; line-height: 20px;" class='bx bxs-award'></i> <%= coupon.couponCode %>
                </h6>
                <p style="color: #047857; font-size: 13px; line-height: 18px; margin-top: 5px; padding-left: 30px; padding-right: 30px;">Coupon Applied: <%= coupon.couponDescription %></p>
                <div style="text-align: right;">
                    <button style="color: #e42b5c; font-weight: 600; border: none; background-color: transparent;" >Remove</button>
                </div>
            </div>
            <div style="position: absolute;border: 1px solid rgba(0,0,0,0.2);    left: -6%;
            top: 34%;
            padding: 10px 12px;">
                <span style="display: block;cursor:pointer;"  class="edit-coupon"><a style="color: #000;" href="/api/v1/manage/edit-coupon/<%= coupon._id %>"> <i class="fa-solid fa-pen "></i></a></span>
                <span style="display: block;cursor:pointer;"  class="delete-coupon"><a style="color: #000;" href="/api/v1/manage/delete-coupon/<%= coupon._id %>"> <i class="fa-solid fa-trash-can "></i></a></span>
            </div>
        </div>

    <% }); %>
</div>

